*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.scrittanera{
    color: black;
}


.bottone{
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
}

/* regole header top bar*/
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
}

header .sez-nav{
padding: 30px 0;
}

.blocco-header{
    width: 10%;
    line-height: 35px;
}

.navigazione{
    width: 50%;
    text-align: center;
}

.navigazione li{
    display: inline;
    padding: 0 20px;
}

.login{
    text-align: right;
}

/*descrizione prodotto + bottone download software e web app*/

.blocco-header-title{
    width: 40%;
    text-align: center;
    color: white;
    margin: 70px auto;
}

h1{
    font-size: 50px;
}

.blocco-header-title p{
    padding: 30px 0;
    line-height: 25px;
}

.input_header{
    font-size: 15px;
    padding: 15px 20px;
    margin: 0 10px;
}

.bottone-black{
    background-color: rgb(35, 39, 42);
    color: white;
}

/* regole main */
.wave-1hkxOo{
    color: rgb(246, 246, 246);
    display: inline-block;
    margin-bottom: -10px;
    ;
}


#wave-white{
    transform: rotate(180deg);

}


.blocco-main{
    margin: 80px 0px;
}

.sez-main.gray{
    background-color: rgb(246, 246, 246);
}

.immagine-main{
    width: 38%;
}

.immagine-main img{
    width: 100%;
}

.descrizione-immagine{
    width: 22%;
}

.descrizione-immagine h2{
    font-size: 40px;
}

.descrizione-immagine p{
    line-height: 25px;
    font-size: 18px;
    margin-top: 25px;
}

/* sezione 4 più grande */
.big{
    width: 60%;
    text-align: center;
}

.big h3{
    background-image: url(img/stars.svg);
    padding: 30px 40px;
    font-size: 25px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.big button{
    color: white;
    background-color: rgb(142, 161, 225);
    margin-bottom: 50px;
}

/* sezione footer link social + link footer */
footer{
    background-color: rgb(35, 39, 42);
}

.sez-footer{
    border-bottom: 2px solid rgb(54, 64, 86);
    align-items: flex-start;
}

footer .link{
    margin: 60px 0;

}

footer .social{
    width: 20%;
    color: white;
        /* DEBUG */
}

.social h3{
    font-size: 30px;
    color: rgb(88, 104, 160);
}

.selettore-lingua{
    margin: 15px 0;
    font-size: 12px;
    display: flex;
}

.selettore-lingua img{
    width: 20px;
    margin-right: 5px;
}

.selettore-lingua i{
    font-size: 8px;
}

.icon-social i{
    font-size: 15px;
    margin-right: 20px;
}

.container{
    width: 40%;
        /* DEBUG */
}

.link-footer{
    width: 25%;
    font-size: 15px;
    color: white;
    text-decoration: none;

}

.link-footer li{
    padding-bottom: 10px;
    list-style-type: none;

}

.link-footer li:first-child{
    color: rgb(98, 117, 183);
    font-weight: 700;
}

/* logo + sign in */
#sign-in{
    color: white;
    background-color:rgb(98, 117, 183);
}
.container-logo-bottone{
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.bottone-footer{
    margin: 15px 0;
    padding: 0;
}